.tableWrapper {
  padding: 0 100px;

  .table {
    position: relative;

    &::after {
      content: 'Loading...';
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      font-size: 36px;
      background-color: rgba(0,0,0,0.1);
      z-index: 100;
    }
  }

}
